pytest==7.2.0
pytest-assume==2.4.3
pytest-dependency==0.5.1
pytest-xdist==3.0.2
pytest-ordering==0.6
pytest-rerunfailures==10.2
allure-pytest==2.11.1
allure-python-commons==2.11.1
allure-behave==2.11.1
selenium==4.6.0
webdriver-manager==3.8.4
pyyaml==6.0
xlrd==1.2.0
faker
behave==1.2.6
parse==1.19.0