pytest
pytest-assume
pytest-dependency
pytest-xdist
pytest-ordering
pytest-rerunfailures
allure-pytest
allure-python-commons
allure-behave
selenium
webdriver-manager
pyyaml
xlrd==1.2.0
faker
behave
parse